
<!-- Admin will able to perform the CRUD operations in users and products -->
<div style="background-color:lightgreen;margin-top: 20px;">
    <div class="container" >
        <div style="padding-top: 20px;">
            <button routerLink="/users" class="btn btn-success"style="margin-left:550px;text-align:center;justify-content:center;" >Manage Users</button>
        </div>
        <br>
        <div>
            <button routerLink="/manage_products"class="btn btn-success" style="margin-left:550px;text-align:center;justify-content:center;">Manage Products</button><br />
        </div>
    </div>
    <br />
</div>