<mat-card style="margin-top:80px;margin-left: 120px;margin-right: 500px;
padding-left: 10px;font: italic bold 30px Georgia, serif;font-size: large;border-radius: 10px;justify-content: center;text-align: center;background-color: lightseagreen;">
    <mat-card-title>Admin Login</mat-card-title>
    <form [formGroup]="loginForm" >

        <!-- Input for Email -->
        <p>
            <mat-form-field style="width:400px !important">
                <input matInput type="text" formControlName="email" placeholder="Enter email here"  />
                <mat-error>Enter Email</mat-error>
                <mat-hint>Email</mat-hint>
            </mat-form-field>
        </p>

        <!-- Input for password -->
        <P>
            <mat-form-field style="width:400px !important">
                <input matInput type="password" formControlName="password" placeholder="Enter password here"  />
                <mat-error>Enter password</mat-error>
                <mat-hint>Password</mat-hint>
            </mat-form-field>
        </P>
        <button class="btn btn-success" style="padding-top:10px;padding-left: 5px;font: italic bold 30px Georgia, serif;font-size: large;border-radius: 10px;justify-content: center;text-align: center;"(click)=onSubmit()>
            Login
        </button>
    </form>
</mat-card>

<a mat-raised-button color="warn" style="margin-left:550px" routerLink="/adminsignup" style="font: italic bold 30px Georgia, serif;font-size: large;border-radius: 10px;justify-content: center;text-align: center; margin-top: 5px;margin:10px;margin-left: 550px;">New Admin? Click to
    SignUp!!</a><br />